body{
	background-color: #f7f5ea;
    font-family: Courier New;
	color: #333;
}
a:link, a:active, a:visited{
	color: #3f1a1a;
	text-decoration: none;
} 
a:hover{
	text-decoration: underline; 
}
.linha{
	width: 980px;
	margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
}
.area{
	padding: 0 10px;
	float: left;
}
.marca1{
	width: 30px;
}
.marca2{
	width: 140px;
}
.lateral{
    background-color: #9DD7CF;
	width: 200px;
}
.cabeçalho{
	width: 315px;
}
.inferioresquerda{
	width: 390px;
    background-color: #d389f5;
    color:#272425;
}
.col6{
	width: 460px;
}
.inferiordireita{
	width: 540px;
}
.superior{
	width: 600px;
}
.corpo{
	width: 700px;
}
.marca3{
	width: 780px;
}
.marca4{
	width: 860px;
}
.rodapé{
	width: 940px;
}

/*início da estilização*/

.sem-padding{
	padding: 0 !important;
}
.sem-margin{
	margin: 0 !important;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 650;
	margin: 15px 0 10px 0;
}
ul li, ol li{
	margin-bottom: 5px;
}
ul.inline li, ol.inline li{
	display: inline;
	margin-right: 15px;
}
ul.sem-marcador, ol.sem-marcador{
	list-style: none;
}
a.botao, input.botao{
	background: #e49677;
	padding: 5px 10px;
	border-radius: 3px;
	color: #ebebeb;
	cursor: pointer;
	margin: 5px 0;
	display: inline-block;
}
a.botao:hover, input.botao:hover{
	background: #a0cf6a;
	text-decoration: none;
}
a.botaointerno, input.botaointerno{
	background: #9c5cb9;
	padding: 5px 5px;
	border-radius: 4px;
	color: #ebebeb;
	cursor: pointer;
	margin: 5px 0;
	display: inline-block;
}
a.botaointerno:hover, input.botaointerno:hover{
	background: #e65c8a;
	text-decoration: none;
}
.corpo h2 {
    background: #d7bceb;
    color: #39353a;
}
.inferioresquerda h3{
    background: #2c5aa060;
    color: #d8cccf;
}
.header{
	background: #f0dd72;
}
h1.logo{
	font-weight: 300px;
	color: #4c2f58;
}
.sem-padding{
	padding: 0 !important;
}
.sem-margin{
	margin: 0 !important;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 650;
	margin: 15px 0 10px 0;
}
ul li, ol li{
	margin-bottom: 5px;
}
ul.inline li, ol.inline li{
	display: inline;
	margin-right: 15px;
}
ul.sem-marcador, ol.sem-marcador{
	list-style: none;
}
.parteinferior{
	background: #f3c17f;
}
section h1{
    background: #55b7cfc4;
}
.inferiordireita section p{
    background: #ecea67;
}
.corpo p{
    background: #837ec06e;
}
.footer{
	background: #e26e5a;
	color: #f0ebeb;
	padding: 30px, 0;
	text-align: center;
	font-weight: 100;
}
.menu{
	text-transform: uppercase;
	text-align: right;
	margin-top: 25px;
}
.justificar{
	text-align: justify;
}
.menu li a{
	padding: 5px 5px;
	border-radius: 3px;
}
.menu li a:hover{
	text-decoration: none;
	background: #e692b5;
	color: #ebebeb;
}
ul.noticias li{
	clear: both;
	display: block;
	overflow: hidden;
	text-align: justify;
}
ul.noticias li img{
	margin-right: 10px;
	float: left;
}
.centro{
	display: block;
	margin-right: auto;
	margin-left: auto;
}